.progress-section .progress-container {
    display: flex;
    flex-direction: row;

    .odd-progress-container .progress-item , .even-progress-container .progress-item {
        width: calc(100% - 16px);
        padding: 8px;
        max-width: 400px;
        .dot {
            display: none;
        }

        .item-title {
            font-size: 24px;
            margin: 0;
        }

        .item-date {
            font-size: 18px;
            margin: 8px 0;
        }

        .item-text {
            margin: 0 0 6px 0;
            a {
                color: black;
            }
        }

        .item-link {
            color: black;
        }
    }

    .odd-progress-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .even-progress-container {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .progress-section .progress-container {
        margin: 0 32px;
        .odd-progress-container, .even-progress-container {
            width: calc(50% - 18px);
            .progress-item {
                width: 318px;
                height: 150px;
                max-width: 318px;
                .dot {
                    display: block;
                    width: 24px;
                    height: 24px;
                    min-width: 24px;
                    background: black;
                    border-radius: 50%;
                    position: relative;
                }

                &.hide {
                    visibility: hidden;
                    height: 88px;
                }
            }
        }

        .odd-progress-container {
            display: flex;
            border-right: solid 2px black;
            flex-direction: column;
            align-items: flex-end;
            padding-bottom: 31px;

            .progress-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                
                .content {
                    flex: 1;
                }

                .dot {
                    left: 22px;
                }
            }
        }

        .even-progress-container {
            display: flex;
            border-left: solid 2px black;
            align-self: flex-end;
            flex-direction: column;
            align-items: flex-start;
            padding-top: 31px;

            .progress-item {
                display: flex;
                flex-direction: row;
                align-items: center;

                .dot {
                    left: -22px;
                }

                .content {
                    padding-left: 64px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    .progress-section .progress-container {
        margin: 0 48px;
        .odd-progress-container, .even-progress-container {
            .progress-item {
                width: 432px;
                max-width: 432px;
            }
        }
    }
}

@media only screen and (min-width: 1440px) {
    .progress-section .progress-container {
        margin: 0 72px;
        .odd-progress-container, .even-progress-container {
            .progress-item {
                width: 520px;
                max-width: 520px;
            }
        }

        .even-progress-container .progress-item {
            padding-right: 0;
            .content {
                padding-left: 72px;
            }
        }
    }
}