@import './parts/header.scss';
@import './parts/team.scss';
@import './parts/sponsors.scss';
@import './parts/socials.scss';
@import './parts/news.scss';

body {
    margin: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

.eva-section, .tom-section, .news-section {
    min-height: 100vh;
    border-left: none;
    border-right: none;

    .section-text {
        text-align: center;
        font-size: 64px;
    }
}

.section-title {
    text-align: center;
    font-size: 64px;
}

@media only screen and (orientation: landscape) {
    .header-section {
        background-size: 100% auto;
    }
}
