@import './parts/header.scss';
@import './parts/team.scss';
@import './parts/sponsors.scss';
@import './parts/socials.scss';
@import './parts/progress.scss';
@import './parts/cansat-section.scss';

body {
    margin: 0;
}

* {
    font-family: 'Roboto', sans-serif;
}

.section-title {
    text-align: center;
    font-size: 48px;
}

@media only screen and (orientation: landscape) {
    .header-section {
        background-size: 100% auto;
    }
}
